.container {
  max-width: 800px;
  height: 800px;
  margin: auto;
  text-align: center;
}


.board {
  border: 2px solid;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.box{
      /* flex-basis: 11.1%;
      /* Distribute cells evenly in the container */
      /* height: 40px;
      background-color: #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      box-sizing: border-box;
      border: 1px solid #ccc; */ 
  width: 40px;
  height: 40px;
  /* color: #fff; */
  border: 2px solid rgb(18, 18, 18);
  font-size: 25px;
  font-weight: bold;
  display: flex;
}
.numbers{
  max-width: 400px;
  height: 40px;
  margin: 0 auto;
  /* background-color: #333; */
  display: flex;
}

.number{
  width: 400px;
  height: 40px;
  /* color:#fff; */
  border: 2px solid;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#validate, #reset, #erase {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#validate:hover, #reset:hover, #erase:hover{
  background-color: #0056b3;
}

.selected{
  background-color: rgba(34, 31, 31, 0);
}