.container {
  max-width: 800px;
  height: 800px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  display: none;
}

.start{
  max-width: 800px;
  height: 800px;
  margin:400px auto;
  text-align: center;
  display: block;
}

.start h1 {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 0.5;
  font-size: 90px;
}

.start button {
  margin: 10px;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  background-color:#333;
  color: white;
  border: none;
  border-radius: 70px;
  font-size: 35px;
}

.start button:hover {
  opacity: 0.8;
}

.container h1{
  font-size: 73px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 12px;
}

.header p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

#mistakes{
  margin-left: 5px;
  color: red;
}

#time{
    margin-left: 5px;
    color:  #927d7dee;
}


.board {
  border: 2px solid black;
  max-width: 462px;
  height: 460px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.box{
  width: 48px;
  height: 48px;
  border: 1px solid #EEEEEE;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
}

.numbers{
  max-width: 447px;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #ffffff;
  border: 2px solid black;
  display: flex;
}

.number{
  width: 400px;
  height: 48px;
  border: 2px solid #EEEEEE;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 5px #888888;

}
#reset, #erase {
  padding: 10px 20px;
  margin: 30px 5px;
  font-size: 40px;
  background-color: #007bff;
  border-radius: 6px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#reset:hover, #erase:hover{
  background-color: #0056b3;
}

.selected{
  background-color: rgba(34, 31, 31, 0);
}

/* .col-row{
  
} */


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

